.container
  .row.text-center
    %h1
      = @category.name.upcase
    .row.line-icon-wrapper.clearfix
      %em.line
        %i.glyphicon.glyphicon-star
  = render @products, order_item: @order_item
